* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container:before,
.container:after,
.clearfix:before,
.clearfix:after {
content: "";
display: table;
clear: both;
}
body {
  line-height: 1;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  overflow-x: hidden;
}
main {
  padding: 0;
  font-family: avenir_roman_font_download,sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 970px;
}