.container:before,
.container:after,
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  line-height: 1;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  overflow-x: hidden;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 970px;
}
@media (min-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}
