/*begin-header*/
header {
  height: 112px;
}
.header-outer {
  position: fixed;
  z-index: 9;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
.main-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.header-right {
  display: none;
}
.header-log-in a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #6a6c6d;
}
.header-log-in a:hover {
  color: #01b4c0;
}
.header-button {
  background: none;
}
.header-button a {
  padding: 15px 35px;
  margin-left: 35px;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 50px;
  background-color: #01b4c0;
  transition: 0.35s;
}
.header-button a:hover {
  background-color: #045b61;
}
.header-right-nav {
  display: block;
  border: none;
  background-color: #fff0;
}
.promo-header {
  padding-top: 70px;
  text-align: center;
  background-color: #c7133e;
}
.promo-header a {
  display: block;
  color: #fff;
}
.promo-header p {
  margin-bottom: 0;
}
.promo-header a:hover {
  text-decoration: underline;
}
.promo-header span {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header-right {
    display: block;
  }
  .header-right-nav {
    display: none;
  }
}
/*end-header*/
/*begin-main*/
.section-1 img {
  width: 100%;
  height: 560px;
}
.section-1 .bg-img {
  position: relative;
}
.section-1 .bg-img-dk {
  display: none;
}
.section-1 .container {
  position: absolute;
  top: 260px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
.section-1 .bg-content {
  padding: 80px 50px 0;
}
.section-1 .bg-content h1 {
  padding-bottom: 15px;
  font-size: 3.5rem;
  font-weight: 700;
}
.section-1 .bg-content p {
  color: #807373;
  font-size: 1.5rem;
}
.section-1 .button-wrap {
  background: none;
}
.section-1 .button-wrap a {
  display: inline-block;
  padding: 15px 50px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 50px;
  background-color: #01b4c0;
  transition: 0.35s;
}
.section-1 .button-wrap a:hover {
  background-color: #045b61;
}
@media (min-width: 576px) {
  .promo-header a {
    padding: 8px 0;
  }
}
@media (min-width: 768px) {
  .section-1 .bg-img-dk {
    display: block;
  }
  .section-1 .bg-img-mb {
    display: none;
  }
  .section-1 .bg-content {
  float: left;
  width: 50%;
  padding: 0;
  }
  .section-1 .bg-content h1 {
    padding-bottom: 20px;
    font-size: 4.5rem;
  }
  .section-1 .bg-content p {
    font-size: 1.6rem;
  }
  .section-1 .button-wrap a {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .section-1 .bg-content {
    padding: 0 50px;
  }
}
@media (min-width: 1320px) {
  .section-1 .bg-content h1 {
    font-size: 5rem;
  }
  .section-1 .bg-content p {
    font-size: 1.8rem
  }
}
/*end-section-1*/
.section-2 {
  padding: 80px 0 60px;
}
.section-2 .wrap-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-2 .item {
  width: calc(50% - 30px);
  padding-bottom: 20px;
  text-align: center;
}
.section-2 .item .thumb img {
  height: 115px;
  padding-bottom: 20px;
}
.section-2 .item h3 {
  padding-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 700;
}
.section-2 .item a {
  color: #000;
}
.section-2 .item:hover a {
  color: #01b4c0;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .section-2 .item {
    width: calc(25% - 20px);
  }
  .section-2 .item h3 {
    padding-bottom: 25px;
  }
}
/*end-section-2*/
.section-3 {
  padding-top: 60px;
  color: #fff;
  text-align: center;
  background-color: #336081;
}
.section-3 .container {
  padding-bottom: 80px;
}
.section-3 .title {
  padding-bottom: 25px;
  font-size: 5rem;
  font-weight: 700;
}
.section-3 p {
  padding: 0 80px;
  margin-bottom: 0;
  font-size: 1.8rem;
}
.section-3 .thumb {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 20px;
  flex-wrap: wrap;
}
.section-3 .thumb img {
  width: calc(50% - 20px);
  padding-bottom: 20px;
}
.section-3 .button-wrap {
  background: none;
}
.section-3 .button-wrap a {
  display: inline-block;
  padding: 15px 50px;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 50px;
  background-color: #01b4c0;
  transition: 0.35s;
}
.section-3 .button-wrap a:hover {
  background-color: #045b61;
}
@media (min-width: 576px) {
  .section-3 .thumb {
    padding: 40px 0;
  }
  .section-3 .thumb img {
    width: calc(25% - 25px);
  }
}
/*end-section-3*/
.section-4 {
  padding: 80px 0;
  text-align: center;
}
.section-4 .title {
  padding-bottom: 25px;
  font-size: 5rem;
  font-weight: 700;
}
.section-4 .hidden-sm {
  margin-bottom: 0;
  padding-bottom: 40px;
  font-size: 2.5rem;
  color: #807373;
}
.section-4 .hidden-sm-hl {
  font-weight: 700;
  color: #000;
}
.section-4 .row-review {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-4 .item {
  width: 100%;
  padding: 0 20px 40px;
}
.section-4 .thumb img {
  padding: 0 30px 20px;
}
.section-4 .review img {
  padding: 0 110px 20px;
}
.section-4 .review h5 {
  padding-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 800;
}
@media (min-width: 576px) {
  .section-4 .item {
    padding: 0 70px 40px;
  }
}
@media (min-width: 767px) {
  .section-4 .item {
    width: calc(100% / 3 - 20px);
    padding: 0 0 40px;
  }
  .section-4 .thumb img {
    padding: 0 60px 20px;
  }
  .section-4 .review img {
    padding: 0 60px 20px;
  }
}
@media (min-width: 992px) {
  .section-4 .item {
    width: calc(100% / 3 - 30px);
  }
  .section-4 .thumb img {
    padding: 0 80px 20px;
  }
}
/*end-section-4*/
.section-5 {
  display: flex;
  height: 450px;
  align-items: center;
  background-image: url(../images/bk_img5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-5 .bg-content {
  float: right;
  width: calc(70% - 40px);
}
.section-5 .bg-content h2 {
  padding-bottom: 10px;
  font-size: 3.5rem;
  font-weight: 700;
}
.section-5 .bg-content p {
  color: #807373;
  font-size: 1.5rem;
}
.section-5 .button-wrap {
  background: none;
}
.section-5 .button-wrap a {
  display: inline-block;
  padding: 15px 50px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 50px;
  background-color: #01b4c0;
  transition: 0.35s;
}
.section-5 .button-wrap a:hover {
  background-color: #045b61;
}
@media (min-width: 576px) {
  .section-5 .bg-content {
    width: calc(60% - 30px);
  }
  .section-5 .bg-content h2 {
    padding-bottom: 10px;
    font-size: 4rem;
  }
  .section-5 .bg-content p {
    font-size: 1.6rem;
  }
  .section-5 .button-wrap a {
    font-size: 1.7rem;
  }
}
@media (min-width: 767px) {
  .section-5 .bg-content {
    width: calc(50% - 37px);
  }
  .section-5 .bg-content h2 {
    padding-bottom: 20px;
    font-size: 4.5rem;
  }
  .section-5 .bg-content p {
    padding-bottom: 15px;
  }
  .section-5 .button-wrap a {
    font-size: 1.8rem;
  }
}
/*end-section-5*/
.section-6 {
  padding: 80px 0 60px;
}
.section-6 .title {
  padding-bottom: 40px;
  font-size: 4.5rem;
  font-weight: 700;
}
.section-6 .wrap-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-6 .item {
  margin-bottom: 20px;
  width: calc(50% - 10px);
  text-align: center;
}
.section-6 .icon-img img {
  border: 1px solid #6a6c6d;
  border-radius: 50%;
}
.section-6 .item h5 {
  padding: 10px 0;
  font-size: 1.8rem;
}
.section-6 .item h5 a {
  color: #000;
}
.section-6 .item:hover a {
  color: #01b4c0;
  text-decoration: underline;
}
.section-6 .item p {
  padding: 0 30px;
}
@media (min-width: 767px) {
  .section-6 .item {
    width: calc(100% / 3 - 60px);
  }
}
/*end-section-6*/
.section-7 {
  padding: 80px 0;
  text-align: center;
  background-color: #336081;
}
.section-7 .title {
  padding-bottom: 30px;
  color: #fff;
  font-size: 4.5rem;
  font-family: "Javacom", Helvetica, Arial, sans-serif;
}
.section-7 .button-wrap {
  background: none;
}
.section-7 .button-wrap a {
  display: inline-block;
  padding: 15px 50px;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 50px;
  background-color: #01b4c0;
  transition: 0.35s;
}
.section-7 .button-wrap a:hover {
  background-color: #045b61;
}
/*end-section-7*/
/*end-main*/
/*begin-footer*/
.footer-ft {
  padding: 20px 0;
  text-align: center;
}
.footer-ft p {
  margin-bottom: 0;
}
/*end-footer*/