/*begin-header*/
header {
  position: relative;
  padding: 10px 0;
  text-align: center;
}
.navigation .menu {
  display: block;
  position: absolute;
  right: 15px;
  top: 35%;
  border: none;
  background-color: #fff0;
}
.navigation .menu-hover {
  display: none;
  position: absolute;
  right: 14px;
  top: 33%;
  border: none;
}
.navigation button:focus +.menu-hover +.nav, .navigation button:focus +.menu-hover {
  display: block;
}
.navigation .nav {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  border: 2px solid #fff;
  background-color: #dfdfdf;
}
.navigation .nav ul {
  text-align: right;
}
.navigation .nav li:nth-child(1) {
  border-bottom: 2px solid #fff;
}
.navigation .nav a {
  display: block;
  padding: 10px;
  color: #7d7d7d;
  text-decoration: none;
}
.navigation .nav a:hover {
  text-decoration: underline;
}
.link-header {
  display: none;
  position: absolute;
  right: 10%;
  top: 50%;
}
.link-header a {
  display: inline;
  padding-right: 5px;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  border-right: 1px solid #333;
  transform: translateY(-50%);
}
.link-header a:hover {
  text-decoration: underline;
}
.link-header a:last-child {
  padding-right: 0;
  border-right: none;
}
@media (min-width: 992px) {
  .navigation {
    display: none;
  }
  .link-header {
    display: block;
  }
}
/*end-header*/
/*begin-main*/
.section-1 {
  padding: 40px 0;
  text-align: center;
  background-image: url(../images/main-bg.png);
}
.section-1 .main-title p {
  font-size: 1.6rem;
  font-family: AvenirLTStdBook;
  font-weight: 600;
  letter-spacing: 1px;
}
.section-1 .title {
  margin-bottom: 10px;
  padding: 0;
  font-size: 2.7rem;
  font-family: "PlayfairDisplayRegular", Times, serif;
  letter-spacing: 1px;
}
.section-1 .video-wrap {
  max-width: 580px;
  margin: 0 auto 15px;
}
.section-1 .button {
  padding-top: 10px;
}
.section-1 .button a {
  display: inline-block;
  padding: 15px 20px;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #a3d900;
  border-bottom: 4px solid #5c8000;
  background-color: #a3d900;
}
@media (min-width: 768px) {
  .section-1 .button a {
    padding: 16px 90px;
  }
}
@media (min-width: 992px) {
  .section-1 .video-wrap {
    max-width: 550px;
  }
  .section-1 .button a {
    font-size: 2.2rem;
  }
}
/*end-section-1*/
.section-2 {
  padding-top: 40px;
}
.section-2 .title {
  margin-bottom: 50px;
  font-size: 2.2rem;
  font-family: "PlayfairDisplayRegular", Times, serif;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
}
.section-2 .wrap-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-2 .item {
  width: calc(50% - 10px);
  margin-bottom: 50px;
  text-align: center;
}
.section-2 .item h5 {
  padding-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
}
.section-2 .thumb img {
  display: block;
  width: 100px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-2 .thumb img {
    width: 150px;
  }
}
@media (min-width: 1200px) {
  .section-2 .item {
    width: calc(25% - 10px);
  }
}
/*end-section-2*/
.section-3 .container {
  padding: 0;
}
.section-3 .wrap-item {
  margin-bottom: 15px;
  background-color: #ebf4f2;
}
.section-3 .wrap-item:nth-child(2) {
  background-color: #f1f1f1;
}
.section-3 .wrap-content {
  padding: 20px 10px;
}
.section-3 .title {
  font-size: 2.3rem;
  margin-bottom: 20px;
  font-family: "PlayfairDisplayRegular", Times, serif;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .section-3 .wrap-item {
    display: flex;
    justify-content: space-between;
    background-color: #ebf4f2;
  }
  .section-3 .wrap-item:nth-child(2) {
    flex-direction: row-reverse;
    background-color: #f1f1f1;
  }
  .section-3 .thumb {
    width: 40%;
  }
  .section-3 .thumb img {
    height: 400px;
    width: 100%;
  }
  .section-3 .wrap-content {
    width: 60%;
    padding: 30px 30px 10px;
  }
}
@media (min-width: 992px) {
  .section-3 .container {
    margin: 0 auto;
  }
  .section-3 .thumb {
    width: 52%;
  }
  .section-3 .wrap-content {
    width: 48%;
  }
}
@media (min-width: 1200px) {
  .section-3 .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .section-3 .thumb {
    width: 45%;
  }
  .section-3 .thumb img {
    height: 490px;
  }
  .section-3 .wrap-content {
    width: 55%;
    padding: 80px 100px 10px;
  }
  .section-3 .title {
    font-size: 3rem;
  }
}
/*end-section-3*/
.section-4 {
  padding: 60px 0;
}
.section-4 .head-text {
  margin-bottom: 30px;
  text-align: center;
}
.section-4 .title{
  color: #2e2377;
  font-size: 2.1rem;
  margin-bottom: 20px;
  padding-top: 20px;
  line-height: 1.35;
  letter-spacing: 1px;
}
.section-4 .des-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-4 .item {
  position: relative;
  width: 50%;
  padding: 25px 15px;
}
.section-4 .item:nth-child(Odd) {
  border-right: 1px solid #ccc;
}
.section-4 .item h4 {
  padding: 20px 0 10px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: "PlayfairDisplayRegular", Times, serif;
  text-align: center;
}
.section-4 .thumb {
  position: absolute;
  top: 43px;
  right: 25px;
}
.section-4 .thumb img {
  width: 48px;
}
@media (min-width: 768px) {
  .section-4 .thumb {
    right: 80px;
  }
}
@media (min-width: 1200px) {
  .section-4 .thumb {
    right: 30px;
    top: 40px;
  }
  .section-4 .item {
    width: 25%;
  }
  .section-4 .item:nth-child(Odd) {
    border-right: 0;
  }
  .section-4 .item:nth-child(n+2) {
    border-left: 1px solid #ccc;
  }
}
/*end-section-4*/
.section-5 {
  padding: 50px 0;
  background-color: #ebf4f2;
}
.section-5 .thumb {
  float: left;
  padding: 0 10px 10px 0;
}
.section-5 .title {
  padding: 10px 0 5px;
  font-size: 1.7rem;
  color: #798885;
  font-style: italic;
  font-weight: 500;
}
.section-5 .item p {
  clear: both;
  padding-top: 10px;
  color: #575757;
}
@media (min-width: 768px) {
  .section-5 .wrap-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-5 .item {
    width: calc(50% - 10px);
  }
  .section-5 .item:last-child {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .section-5 .item {
    width: calc(100% / 3 - 10px);
  }
  .section-5 .item:last-child {
    width: calc(100% / 3 - 10px);
  }
}
/*end-section-5*/
.section-6 {
  padding: 60px 0;
}
.section-6 .wrap-item {
  padding: 50px 0;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.section-6 .wrap-content {
  padding-top: 20px;
}
.section-6 .title {
  margin-bottom: 20px;
  font-size: 2.2rem;
}
.section-6 .button a {
  display: block;
  padding: 13px;
  color: #333;
  font-size: 2.3rem;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #a3d900;
  border-bottom: 4px solid #5c8000;
  background-color: #a3d900;
}
@media (min-width: 768px) {
  .section-6 .wrap-item {
    display: flex;
    text-align: left;
  }
  .section-6 .thumb {
    width: 30%;
  }
  .section-6 .wrap-content {
    width: 60%;
    padding-left: 20px;
    padding-top: 0;
  }
  .section-6 .button {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .section-6 .thumb {
    width: 35%;
  }
  .section-6 .wrap-content {
    width: 65%;
  }
  .section-6 .button a {
    padding: 18px;
  }
}
@media (min-width: 1200px) {
  .section-6 .thumb {
    width: 40%;
  }
  .section-6 .wrap-content {
    width: 60%;
  }
}
/*end-section-6*/
.section-7 .container {
  padding: 0;
  text-align: center;
}
.section-7 .img-dk {
  display: none;
}
@media (min-width: 768px) {
  .section-7 .img-mb {
    display: none;
  }
  .section-7 .img-dk {
    display: block;
  }
}
/*end-section-7*/
/*end-main*/
/*begin-footer*/
footer {
  padding: 20px 0 100px;
  text-align: center;
}
.footer-ft a {
  color: #333;
  text-decoration: none;
}
.social-ft {
  margin-bottom: 10px;
}
.social-ft li {
  display: inline;
  padding-right: 10px;
  font-size: 3rem;
}
.social-ft a:hover {
  color: #0dafc3;
}
.nav-footer {
  font-size: 12px;
  margin-bottom: 10px;
}
.nav-footer li {
  display: inline;
  padding-right: 5px;
  list-style-type: none;
  border-right: 1px solid #333;
  transition: all .3s ease;
}
.nav-footer li:last-child {
  padding-right: 0;
  border-right: none;
}
.nav-footer a:hover {
  text-decoration: underline;
}
.address-footer {
  margin-bottom: 10px;
  font-size: 11px;
  color: #acacac;
}
@media (min-width: 768px) {
  footer {
    padding-top: 50px;
  }
}
/*end-footer*/